/* General */
html {
    font-size: 62.5%; /* 1rem = 10px */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}


p {
    font-size: 1.6rem;
    line-height: 2;
}

a {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

/* Utilities */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.site-header {
    /* height: 250px; */
    height: 40vh;
    background-image: url(/images/header.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
}

.site-header h2, p {
    margin: 0;
    padding: 0;
}

.logo {
    margin-left: 120px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.text-header {
    margin-top: 10px;
}

/* Main */
.main-flex {
    display: flex;
}

.content-container {
    margin-right: 20px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}